EasyPlayerRTMP.xcodeproj/xcuserdata/lyy.xcuserdatad/xcschemes/xcschememanagement.plist
EasyPlayerRTMP.xcworkspace/xcuserdata/lyy.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/lyy.xcuserdatad/xcschemes/xcschememanagement.plist
